@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0px;
    padding: 0px;
    color: white;
    
    font-family: 'Arial', sans-serif;
}
#Hero{
    background-image: url('https://images.unsplash.com/photo-1689656966481-043a970b7c76?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 40vh;
    text-align: center;
    box-sizing: border-box;
}
#kiran{
    font-size: 44px;
    padding-inline: 90px;
    padding-top: 70px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
}
#yav{
    font-size: 22px;
    font-weight: 300;
}
#k{
    text-align: center;
    background-color: #ff6600;
    border-radius: 5px;
    
    border:none;
    padding: 10px;
    cursor: pointer;
    margin-top: 15px;
    text-transform: uppercase;
}
#k:hover{
    background-color: #ff4500;
    color: blue;
}